
.container {
    text-align: center;
    width: 70%;
    margin:auto;
}

.dice {
    display: inline-block;
    padding: auto;
    width: 20%;
    text-align: center;
}

body{ 
    background-color: #393E46;
}

h1 {
    margin: 30px;
    text-shadow: 5px 0 #232931;
    color: #4ECCA3;
    font-size: 5rem;
    font-family: 'Lobster', cursive;
}

p {
    margin-right: 40px;
    padding: 20px;
    font-size: 2rem;
    color: #4ECCA3;
    font-family: 'Lobster', cursive;
}

.img{
    padding: 20px;
    width: 80%;
}

footer {
    text-align: center;
    margin-top: 20px;
    color: #EEEEEE;
    font-family: 'Indie Flower', cursive;

}