
.container {
    text-align: center;
    width: 70%;
    margin:auto;
}

.dice {
    display: inline-block;
    padding: auto;
    width: 20%;
    text-align: center;
}

body{ 
    background-color: #393E46;
}

h1 {
    margin: 30px;
    text-shadow: 5px 0 #232931;
    color: #4ECCA3;
    font-size: 5rem;
    font-family: 'Lobster', cursive;
}

p {
    margin-right: 40px;
    padding: 20px;
    font-size: 2rem;
    color: #4ECCA3;
    font-family: 'Lobster', cursive;
}

.btn{
    background-color: #4ECCA3;
    padding: 15px 20px;
    text-align: center;
    border: none;
    color: white;
    font-size: 30px;
    cursor: pointer;
    border-radius: 8px;

}

.img{
    padding: 20px;
    width: 80%;
}
    /* A bit of Resposiveness */
@media (max-width:768px) {
    body{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .container{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    h1{
        display: flex;
    ;
        font-size: 3rem;

    }
    p{
        font-size: 1.5rem;
        margin: 0;
    }
    .btn{
   
        margin: 0;
        font-size: 18px;
        width: 150px;
        height: 100px;
    }
    .img{
        display: flex;
        width: 120px;
        /* margin: 20px; */
    }
}

@media (max-width: 480px){
    h1{
        font-size: 2rem;
    }
    p{
        font-size: 1rem;
    }
}


footer {
    text-align: center;
    margin-top: 20px;
    color: #EEEEEE;
    /* font-family: 'Indie Flower', cursive; */
    font-family: 'Lobster', cursive;

}