
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Woah WOAH WOAH</title>
</head>
<body>
    <h1>Hola Hola !! its <%= wday %>, time to <%= whatToDo %></h1>
</body>
</html>
